name: run main.py

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v4 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9' # install the python version needed
          
      - name: install python packages
        env:
            WIKI_USERNAME_ATTACKEIGHT: ${{secrets.WIKI_USERNAME}}
            WIKI_PASSWORD_ATTACKEIGHT: ${{secrets.WIKI_PASSWORD}}
            WIKI_SITE_USERNAME_ATTACKEIGHT: dev
            WIKI_SITE_PASSWORD_ATTACKEIGHT: utcsJgg
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script # run update.py
        run: python update.py